

<form action="/results" method="GET">
    <input type="text" placeholder="search" name="search">
    <input type="submit">
</form>

<link rel="stylesheet" href="/index/style.css">
<script src="/index/script.js"></script>