<h1>Infos Page</h1>

<!-- Running forEach loop on "data".Search , data defined in app.js as parsed API data -->
<ul>
    <% console.log(data) %>
    <li><strong><%= data.Plot %></strong></li>
</ul>

<a href="/">Search for new movies</a>